[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = silent

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = silent

# Enforce the use of var for local variables
dotnet_style_prefer_var_for_locals = true:error
dotnet_style_prefer_var_for_built_in_types = true:error
dotnet_style_prefer_var_for_complex_types = true:error

# Other code style rules
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.CA2007.severity = warning

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = suggestion

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = suggestion

# Use short form for conditional delegate calls
csharp_style_conditional_delegate_call = true:suggestion

# IDE1005: Use conditional delegate call
dotnet_diagnostic.IDE1005.severity = suggestion

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = silent

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = suggestion

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# IDE0032: Use auto property
dotnet_diagnostic.IDE0032.severity = suggestion

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA5392: Use DefaultDllImportSearchPaths attribute for P/Invokes
dotnet_diagnostic.CA5392.severity = suggestion

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = suggestion

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = suggestion

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = suggestion

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = suggestion

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = suggestion

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = suggestion

# CS1591: Disable XML documentation warnings
dotnet_diagnostic.CS1591.severity = none
