[submodule "AIServer"]
	path = AIServer
	url = git@github.com:/igoforth/RWAI_Server.git
[submodule "AIItems"]
	path = AIItems
	url = git@github.com:/igoforth/RWAI_Items.git
[submodule "AICore"]
	path = AICore
	url = git@github.com:/igoforth/RWAI_Core.git
