# Dev environment files
.vscode/
.config/

# Ignore nested artifacts
**/Assemblies/
**/bin/
**/libexec/
**/obj/

# Ignore zip artifacts
*.zip

# Ignore models directory
models/

# Ignore minor project scripts
utils/

# Ignore user-specific environment
.env

# Ignore assets
art/
