[submodule "AIServer"]
    path = AIServer
    url = ../RWAI_Server.git
    fetchRecurseSubmodules = on-demand
    branch = .
[submodule "AIItems"]
    path = AIItems
    url = ../RWAI_Items.git
    fetchRecurseSubmodules = on-demand
    branch = .
[submodule "AICore"]
    path = AICore
    url = ../RWAI_Core.git
    fetchRecurseSubmodules = on-demand
    branch = .
